<% include ./partials/header.ejs%> <% include ./partials/navbar.ejs%>

<div class="bg-zinc-800 pt-24 h-full w-full text-white">
  <form
    hidden
    id="fileupload"
    action="/fileupload"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="file" name="image" />
  </form>
  <div class="flex flex-col items-center justify-center">
    <div class="relative overflow-hidden">
      <img
        class="h-28 w-28 rounded-full bg-white border-4 border-white object-cover"
        src="/images/uploads/<%=user.profileImage %>"
        alt="profile image"
      />
      <span
        id="uploadicon"
        class="material-symbols-outlined w-9 h-9 rounded-full absolute bottom-0 right-0 bg-zinc-600 flex items-center justify-center cursor-pointer"
      >
        edit
      </span>
    </div>
    <h1 class="mt-5 text-4xl"><%=user.fullname%></h1>
    <h3 class="text-xl">@<%=user.username%></h3>
    <br />
    <a href="/edit" class="px-10 py-3 bg-zinc-600 rounded-full text-sm">Edit</a>
    <a
      href="/add"
      class="px-10 py-3 mt-5 rounded-xl text-white bg-red-700 text-lg"
    >
      Add New Pin
    </a>
  </div>

  <div class="cards flex flex-wrap gap-10 px-10 mt-10">
    <div>
      <img
        class="w-56 h-40 bg-white rounded-lg object-cover"
        src="/images/uploads/<%=user?.posts[0]?.image%>"
      />
      <a href="/show/posts" class="inline-block mt-4 text-xl">Your pins
      <h5 class="text-gray-300 text-sm"><%=user.posts.length%> Pins</h5>
    </div>
  </div>
</div>

<script>
  document.querySelector("#uploadicon").addEventListener("click", function () {
    document.querySelector("#fileupload input").click();
  });

  document
    .querySelector("#fileupload input")
    .addEventListener("change", function () {
      document.querySelector("#fileupload").submit();
    });
</script>

<% include ./partials/footer.ejs%>
